.navbar {
    background-color: #1B1E28;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar > div > h1 {
    color: white;
    font-family: 'Montserrat';
    text-align: center;
}

.leftSide, .rightSide, .center {
    display: flex;
}